.list-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: calc(100vh - 48px);
  padding-top: 10px;
  background-image: url(../assets/main-page-background.jpg);
  background-size: cover;
  margin-bottom: 0;
}

.person-list-title {
  text-align: center;
  font-size: 2em;
  margin: 5px;
  color: whitesmoke;
}

.person-seacrh-container {
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
}

.presearch {
  width:60px;
  font-weight: 700;
  margin-right: 5px;
  margin-bottom: 0;
  color: whitesmoke;
}

input {
  width: 200px;
}

.person-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
  background: rgba(204, 204, 204, 0.9);
  max-width: 70%;
  border-radius: 20px;
  margin: 50px auto;
}

.person-list-item {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  max-width: 200px;
  min-width: 200px;
  height: 160px;
  background: silver;
  border: yellowgreen solid;
  border-radius: 15px;
  margin: 10px 5px;
  cursor: pointer;
}
.person-list-item:hover {
  font-weight: 700;
  border: red solid;
}

.person-list-item > p {
  margin: 5px;
  text-align: center;
  font-size: 18px;
}
.person-list-item p:first-of-type {
  text-transform: uppercase;
}