nav {
  width:100%;
  display: flex;
  justify-content: space-evenly;  
}

li {
  width: 180px;
  background: yellowgreen;
  border: black 2px solid;
  padding: 3px;
  list-style-type: none;
  cursor: pointer;
  text-align: center;
  font-size: 23px;
}